{% extends "layout.html" %}
{% block title %}
   index
{% endblock %}

{% block main %}

     <table class = "table">
         <tr>
             <th>Symbol</th>
             <th>Name</th>
             <th>Shares</th>
             <th>Price</th>
             <th>TOTAL</th>
        </tr>
        {% for stock in stocks%}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock["shares"] }}</td>
            <td>{{ stock["sharePrice"] | usd }}</td>
            <td>{{ stock["Total"] | usd }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash | usd }}</td>

        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{ Total | usd }}</strong></td>

        </tr>


  </table>



{% endblock %}